/* Global styles */
body {
  background: #f2f2f2;
  margin: 0;
  padding: 0;
}

.app-container {
  text-align: center;
  width: 600px;
  margin: 1rem auto 0;
  padding: 2rem;
  background-color: #f7f7f7;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dark .app-container {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
}

form {
  margin-bottom: 1rem;
}

.form-button {
  width: 60%;
  padding: 10px; /* Adjust padding as needed */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 0.5rem;
  text-align: center;
  background-color: #ccc;
  color: #333; /* Match your button text color */
}
.form-button:hover {
  background-color: #555;
}

.dark .form-button {
  background-color: #333;
  color: #fff;
}

.form-button:hover {
  background-color: #777; /* Change hover background color */
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 1rem;
  text-align: center;
}

.dark input,
.dark select {
  background-color: #333;
  color: #fff;
}
.dropdown-content .category-item-all button {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.category-item-all {
  width: 100%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 0.5rem;
  text-align: center;
}

button {
  width: 100%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  padding: 10px;
  background-color: #ccc;
}

.category-button {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.dark button {
  background-color: #333;
  color: #fff;
  border: 1px solid #ccc;
}

button:hover {
  background-color: #777;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
  flex-direction: column;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border-bottom: none;
}

/* Dropdown styles */

.dropdown-content {
  display: flex;
  position: relative;
  background-color: #f9f9f9;
  min-width: 160px;
  flex-direction: column;
  align-items: center;
  z-index: 111;
  left: 15%;
  width: 150px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.dropdown-content button {
  background-color: #f9f9f9;
}

.dropdown-content button:hover {
  background-color: #777;
}

.dropdown-content .category-item {
  width: 100%;
  color: #333;
}

.category-item-rest {
  display: flex;
  white-space: nowrap;
  width: 100%;
}

.habitlist-button button {
  margin: 10px;
}

/* Dark Theme */
.dark {
  background-color: #333;
  color: #fff;
  transition: background-color 0.2s, color 0.2s;
}

.dark button .toggler-icon {
  color: #fff; /* Icon color for dark theme */
}

.dark .nav-menu {
  background-color: #333;
  padding: 1rem; /* Adjust the padding for small screens */
  display: flex;
  flex-wrap: wrap; /* Allow buttons to wrap to the next line if needed */
  justify-content: center; /* Center buttons horizontally */
}

.dark .category-input {
  background-color: #fff;
  color: #333;
}

.dark .category-input::placeholder {
  color: #333;
}

.dark input::placeholder {
  color: #fff;
}

.dark .dropdown-content button:hover {
  background-color: #5e5e5e;
}

.dark .category-input::placeholder {
  color: #fff;
}

.dark .dropdown-content button {
  background-color: #535353;
  color: #fff;
  text-align: center;
  border: none;
}

.dark .category-input {
  background-color: #535353;
  color: #fff;
}

.dark .dropdown-content {
  background-color: #535353;
}

.form-button:hover {
  background-color: #555;
}

.form-button:hover {
  background-color: #777; /* Change hover background color */
}

.button-container {
  display: flex;
  flex-direction: row;
}

.button-container .form-button:last-child {
  margin-left: 10px;
}

.chart-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 15px;
  border: #ccc 1px solid;
}
.dark .chart-container {
  background-color: #333;
  border: #929292 1px solid;
}

.category-input {
  width: 90%;
  background-color: #fff;
  color: #333;
  padding: 10px;
  border: #333 solid 1px;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
  margin-top: 1px;
  /* Adjust the width as needed */
}

.category-input::placeholder {
  color: #555;
}

/* Textarea */

.textarea-container {
  width: 100%; /* Occupy the full width of the parent container */
  overflow: hidden; /* Hide overflowing content */
  padding-bottom: 10px;
  margin-left: auto; /* Center horizontally */
  margin-right: auto;
}

.textarea-container textarea{
  max-width: 500px; /* Set the maximum width */
  max-height: 80px;
  width: 300px;
  height: 40px;
  overflow: auto;
  padding-bottom: 10px;
  margin-bottom: 10px; /* Enable scrolling when content exceeds dimensions */
}

.dark .textarea-container textarea {
  background-color: #333;
  color: #fff;
}

/* Calendar */

.custom-calendar .react-calendar__navigation button {
  font-size: 12px;
  border-radius: 4px;
  width: 50px;
  margin: 20px;
}

.custom-calendar .react-calendar__navigation__label {
  padding: 35px !important;
  width: 70px !important;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.custom-calendar .react-calendar__tile--active {
  background-color: #777;
  color: #fff;
  border-radius: 20px;
}

.custom-calendar {
  padding-bottom: 20px;
}

/* completedhabits presence */

.habit-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.completed-delete-button {
  color: #333;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 5%;
  display: flex;
  justify-content: center;
  margin: 0;
}

.completed-result-column {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
 /* Animation waves */
.animation-container svg {
  position: relative;
  top: -183px;
  left: 0;
  width: 267px;
  height: 100%;
  transform: scaleY(-3) scaleX(2.25);
  transform-origin: bottom;
  display: block;
  pointer-events: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-bottom: -60px;
}

/*  Skillbar */
.skill-main {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skill-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skill-name {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

.skill-bar {
  height: 20px;
  background-color: #00283a;
  border-radius: 8px;
}

.skill-per {
  height: 20px;
  background: #23576f;
  border-radius: 8px;
  width: 0;
  transition: 1s linear;
  position: relative;
}
.skill-per:before {
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background-color: #23576f;
  color: #fff;
  font-size: 11px;
  border-radius: 4px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
  z-index: 2;
}
.skill-per:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #23576f;
  top: -20px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
  z-index: 1;
}

/*  Contact Us Icon */

 .contaus-icon {
  position: relative;
  background-color: #3498db; /* Change to your desired background color */
  color: #fff; /* Change to your desired text color */
  border: none;
  border-radius: 50%;
  width: 60px; /* Adjust the button size as needed */
  height: 60px;
  animation: float 3s ease-in-out infinite;
  left: 30px;
  bottom: 30px; /* Adjust animation duration and timing as needed */
}

.contaus-icon span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

