@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #cccccc;
}

.dark body {
  background-color: #555;
}

ul {
  display: flex;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}
.navbar {
  display: flex;
  flex-direction: row;
}

li {
  margin-left: -1px;
}
li:first-child .skewed-button {
  border-radius: 8px 0 0 8px;
}

li:last-child .skewed-button {
  border-radius: 0 8px 8px 0;
  margin-top: -1px;
  border: none;
  
}

.skewed-button {
  background-color: #fff;
  color: #6b7280;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 600;
  border: 2px solid #d1d5db;
  height: 2.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 0;
  position: relative;
  transition: color 0.15s ease, border-color 0.15s ease;
  transform: skew(-30deg);
}
.skewed-button:hover,

.skewed-button.active {
  outline: 0;
  color: #000000;
  border-color: #000000;
  z-index: 1;
  transition: background-color 0.3s ease-in-out;
  background-color: #888;
}

.dark .skewed-button:hover,

.dark .skewed-button.active {
  border-color: #fff;
  color: #fff;
  outline: 0;
  transition: background-color 0.3s ease-in-out;
  background-color: #777;

}

.skewed-button span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skewed-button span svg {
  margin-right: 0.4em;
  width: 1em;
  height: 1em;
}

li {
  list-style: none;
}
.theme-toggle {
  background-color: #fff; /* Apply white background when the class is present */
  color: #333; /* Set the default text color to white */
}

.theme-toggle.white-background {
  background-color: #333; /* Set the default background color to black */
  color: #fff; /* Apply black text color when the class is present */
}

.dark .theme-toggle {
  background-color: #fff;
  color: #333;
}

.dark .nav-dark {
  background-color: #333;
  color: #c7c7c7;
}

.dark .skewed-button:disabled {
  background-color: #222;
  color: #777;
}

.dark li:last-child .skewed-button {
  background-color: #fff;
}

.skewed-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
